<!-- edit_item.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Edit Item {{ item.id }} - ID: {{ item_id }}</h1>
        <form method="POST" action="{{ url_for('api.update_item', id=item.id) }}" enctype="application/json">
            
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" name="name" value="{{ item.name }}" required>

            </div>
            <div class="form-group">
                <label for="price">Price: </label>
                <input type="text" class="form-control" id="price" name="price" value="{{ item.price }}" required>
            </div>
            <div class="form-group">
                <label for="mac_address">Mac Address: </label>
                <input type="text" class="form-control" id="mac_address" name="mac_address" value="{{ item.mac_address }}" required>
            </div>
            <div class="form-group">
                <label for="serial_number">Serial Number:</label>
                <input type="text" class="form-control" id="serial_number" name="serial_number" value="{{ item.serial_number }}" required>
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer: </label>
                <input type="text" class="form-control" id="manufacturer" name="manufacturer" value="{{ item.manufacturer }}" required>
            </div>
            <div class="form-group">
                <label for="description">Description: </label>
                <textarea class="form-control" id="description" name="description" rows="3" value ="{{ item.description }}" required>{{ item.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity: </label>
                <input type="number" class="form-control" id="quantity" name="quantity" value="{{ item.quantity }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Item</button>
        </form>
    </div>

    <!-- Agregar los scripts de Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>